<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gerador de proposta comercial</title>
</head>
<body>
<main>
    <h1>Gerador de proposta comercial</h1>
    <p>Bem-vindo ao gerador de propostas comerciais!</p>
    <div id="Kits-container" class="container">
        <h2>Gerenciar Kits</h2>
    </div>
    <div id="Leads-container" class="container">
        <h2>Gerenciar Leads</h2>
    </div>
    <div id="Propostas-container" class="container">
        <h2>Gerenciar Propostas</h2>
    </div>
</main>
</body>
</html>